AUTH_SECRET=replace-with-at-least-32-random-characters

# Auth.js GitHub login
AUTH_GITHUB_ID=
AUTH_GITHUB_SECRET=

APP_BASE_URL=http://localhost:3000
RENDER_BASE_URL=http://127.0.0.1:3000

# For Docker:
# ASSET_DIRECTORY=/app/data/assets
# RENDER_DIRECTORY=/app/data/renders

# For local development:
ASSET_DIRECTORY=./data/assets
RENDER_DIRECTORY=./data/renders
REMOTION_BUNDLE_DIRECTORY=./remotion-bundle

MAX_UPLOAD_BYTES=100000000
RENDER_CONCURRENCY=25%
REMOTION_LICENSE_KEY=
